<nav *ngIf="isHomeNav" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Will Populate when user is Logged in -->
        <a class="navbar-brand" href="#">
            <img src="assets/img/Pokeloot_Logo.png" width="200" height="200" class="img-fluid"
                style="max-width: 300; max-height: 100;">
        </a>
        <!-- Will Display if User is LoggedIn -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a routerLink="/Home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/Game" class="nav-link">Game</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/Profile" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/UnlockCard" class="nav-link">UnlockCard</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <a routerLink="/Login" class="nav-link"> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <nav *ngIf="isLoginNav" id="LoginPage">
    <a class="navbar-brand" href="#">
        <img src="assets/img/Pokeloot_Logo.png" width="200" height="200" class="img-fluid"
            style="max-width: 300; max-height: 100;">
    </a>
</nav> -->