<!-- <div class="card">
    <div class="outer-column">
        <div class="car-header">
            <button type="button" class="btn btn-circle btn-lg" style="background-color: #EEEDED;">A</button>
            <div class="column">
                <div class="card-username">
                    <p>Adrian Gonzalez</p>
                </div>
                <div class="card-info">
                    <div class="date">
                        <p>Jan 4</p>
                    </div>
                    <div class="dot"></div>
                    <div class="type">
                        <p>Sale</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam necessitatibus magni
                similique quis esse veritatis voluptatibus! Sunt, perspiciatis minima ipsum vero voluptatibus
                adipisci
                eius
                dolores. Molestiae sint molestias deleniti aperiam?</p>
        </div>
    </div>
    <div class="image">image</div>
</div> -->

<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <button type="button" class="btn btn-circle btn-lg" style="background-color: #EEEDED;">A</button>
                    <div class="ms-3 c-details">
                        <h6 class="mb-1">Adrian Gonzalez</h6> <span>Jan 4</span>
                        <span class="dot mx-2"></span>
                        <span>Sale</span>
                    </div>
                </div>
            </div>
            <div class="mt-4 mx-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam necessitatibus magni
                    similique quis esse veritatis voluptatibus! Sunt, perspiciatis minima ipsum vero voluptatibus
                    adipisci
                    eius
                    dolores. Molestiae sint molestias deleniti aperiam?</p>
            </div>
        </div>
        <div class="col-md-2">
            <img src="https://via.placeholder.com/150" class="rounded float-end">
        </div>
    </div>
</div>