<div class="card">
    <div class="outer-column">
        <div class="car-header">
            <button type="button" class="btn btn-circle btn-lg" style="background-color: #EEEDED;">A</button>
            <div class="column">
                <div class="card-username">
                    <p>Adrian Gonzalez</p>
                </div>
                <div class="card-info">
                    <div class="date">
                        <p>Jan 4</p>
                    </div>
                    <div class="dot"></div>
                    <div class="type">
                        <p>Sale</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam necessitatibus magni
                similique quis esse veritatis voluptatibus! Sunt, perspiciatis minima ipsum vero voluptatibus adipisci
                eius
                dolores. Molestiae sint molestias deleniti aperiam?</p>
        </div>
    </div>
    <div class="image">image</div>
</div>