
<h3>Profile</h3>

<div class="ProfileCard" style="font-size:large;">
     <div>
     <p ><strong>User ID:</strong> {{currentProfile.UserId}}</p>
     <p ><strong>Level:</strong> {{currentProfile.AccountLevel}}</p>
     <p ><strong>Username:</strong> {{currentProfile.UserName}}</p>
     <p ><strong>Password:</strong> {{currentProfile.Password}}</p>
     <p ><strong>Email:</strong> {{currentProfile.Email}}</p>
     <p ><strong>Coin Balance:</strong> {{currentProfile.CoinBalance}}</p>
     <p ><strong>Total Coins Earned:</strong> {{currentProfile.TotalCoinsEarned}}</p>
     </div>
</div>


<!-- <div>
     <button (click)='ViewKanto(_p2,KantoBadges)'>View Collection Achievements</button>
     <div>
          <ng-container *ngFor="let b of KantoBadges; let i = index">
               <img *ngIf= " b == true " src='/assets/img/johto-{{1+i}}.jpg'/> 
               <p></p>
          </ng-container>
     </div>
</div> -->

<div class="container-fluid"  style="font-size:medium;">
     <button (click)='ViewJohto(this.currentProfile,this.JohtoBadges)'>View Account Achievements</button>
     <div class="row">
          <div class="col" *ngFor="let b of JohtoBadges; let i = index">
               <div class="johtobadge">{{b.Title}}</div>
               <img class ="badgepic" *ngIf= " b.Completed == true"  src='/assets/img/johto-{{1+i}}.jpg'/> 
          </div>   
     </div>
</div>




<!-- <div>
     <button (click)='ViewHoenn(currentProfile,HoennBadges)'>View Post Achievements</button>
     <div>
          <ng-container *ngFor="let b of HoennBadges; let i = index">
               <img *ngIf= " b == true " src='/assets/img/johto-{{1+i}}.jpg'/> 
               <p></p>
          </ng-container>
     </div>
</div> -->
