<br/>
<br/>
<br/>
<div class="row display: flex justify-content-center">Click the button below to open a new card for 10 coins!</div>

<br/>
<br/>
<br/>
<div class="row justify-content-center">
    <div class="col text-center">
        <button (click) = 'openLootbox()' style="justify-self: center; font-size: large;">Open Card Pack</button>
        <br/>
        <br/>
        <h6>{{currentUserCoinBalance}} Coins Remaining</h6>

    <br/>
    <br/>
    <br/>
    <div *ngIf="newCard.PokemonName != null" >
        <h3>You Unlocked</h3>
        <div class="card" style="width: 18rem; " >
            <img class="card-img-top" src="{{newCard.SpriteLink}}" alt="{{newCard.PokemonName}} Image">
            <div class="card-body">
            <h5 *ngIf="newCard.IsShiny as true; else elseBlock" class="card-title text-center" style="font-size: 1.45em;">★ {{newCard.PokemonName}} ★</h5>
            <ng-template #elseBlock><h5 class="card-title" style="font-size: 1.45em;">{{newCard.PokemonName}}</h5></ng-template>
            </div>
        </div>
    </div>

</div>
</div>