<br>
<br>
<br>
<div class="row display: flex justify-content-center" style="font-size:large;">Click the button below to open a new card for 100 coins!</div>
<br>
<br>
<div class="row justify-content-center" style="font-size:medium;">
<div class="col text-center">
    <h6>{{currentUserCoinBalance}} Coins Remaining</h6><br>
    <img *ngIf="newCard.PokemonName == null && tooPoor == false" src="assets/img/Poke_Ball.png" alt="lootbox img"><br>
    <button (click) = 'openLootbox()' style="justify-self: center; font-size: large;">Open Card Pack</button>
</div>>



<br>
<br>
<br>
<br> 
<div *ngIf="newCard.PokemonName != null">

    <div *ngIf="newCard" style="font-size:medium;">
        <h2 class="row display: flex justify-content-center">New Card Unlocked</h2>
        
        <div class="row display: flex justify-content-center" >
            <div *ngIf="newCard.RarityId == 1" class="card1 text-center border-dark mb-3" style="width: 18rem; margin: 1rem;" >
                <img class="card-img-top" src={{newCard.MainSprite}} alt="{{newCard.PokemonName}} Image">
                <div class="card-body">
                <h6>Common</h6>
                <h5 *ngIf="newCard.IsShiny as true; else elseBlock" class="card-title">★ {{newCard.PokemonName}} ★</h5>
                <ng-template #elseBlock><h5 class="card-title">{{newCard.PokemonName}}</h5></ng-template>
                <a href="{{bublapedia}}{{newCard.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a> <!-- make button hyperlink to pokemon info page or remove -->
                </div>
            </div>
            <div *ngIf="newCard.RarityId == 2" class="card2 text-center border-dark mb-3" style="width: 18rem; margin: 1rem;" >
                <img class="card-img-top" src={{newCard.MainSprite}} alt="{{newCard.PokemonName}} Image">
                <div class="card-body">
                <h6>Uncommon</h6>
                <h5 *ngIf="newCard.IsShiny as true; else elseBlock" class="card-title">★ {{newCard.PokemonName}} ★</h5>
                <ng-template #elseBlock><h5 class="card-title">{{newCard.PokemonName}}</h5></ng-template>
                <a href="{{bublapedia}}{{newCard.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a> <!-- make button hyperlink to pokemon info page or remove -->
                </div>
            </div>
            <div *ngIf="newCard.RarityId == 3" class="card3 text-center border-dark mb-3" style="width: 18rem; margin: 1rem;" >
                <img class="card-img-top" src={{newCard.MainSprite}} alt="{{newCard.PokemonName}} Image">
                <div class="card-body">
                <h6>Rare</h6>
                <h5 *ngIf="newCard.IsShiny as true; else elseBlock" class="card-title">★ {{newCard.PokemonName}} ★</h5>
                <ng-template #elseBlock><h5 class="card-title">{{newCard.PokemonName}}</h5></ng-template>
                <a href="{{bublapedia}}{{newCard.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a> <!-- make button hyperlink to pokemon info page or remove -->
                </div>
            </div>
            <div *ngIf="newCard.RarityId == 4" class="card4 text-center border-dark mb-3" style="width: 18rem; margin: 1rem;" >
                <img class="card-img-top" src={{newCard.MainSprite}} alt="{{newCard.PokemonName}} Image">
                <div class="card-body">
                <h6>Mythic</h6>
                <h5 *ngIf="newCard.IsShiny as true; else elseBlock" class="card-title">★ {{newCard.PokemonName}} ★</h5>
                <ng-template #elseBlock><h5 class="card-title">{{newCard.PokemonName}}</h5></ng-template>
                <a href="{{bublapedia}}{{newCard.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a> <!-- make button hyperlink to pokemon info page or remove -->
                </div>
            </div>
            <div *ngIf="newCard.RarityId == 5" class="card5 text-center border-dark mb-3" style="width: 18rem; margin: 1rem;" >
                <img class="card-img-top" src={{newCard.MainSprite}} alt="{{newCard.PokemonName}} Image">
                <div class="card-body">
                <h6>Legendary</h6>
                <h5 *ngIf="newCard.IsShiny as true; else elseBlock" class="card-title">★ {{newCard.PokemonName}} ★</h5>
                <ng-template #elseBlock><h5 class="card-title">{{newCard.PokemonName}}</h5></ng-template>
                <a href="{{bublapedia}}{{newCard.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a> <!-- make button hyperlink to pokemon info page or remove -->
                </div>
            </div>
        </div>
    </div>

</div>
<div *ngIf="tooPoor" class="row display: flex justify-content-center" >
    <div class="card6 text-center border-dark mb-3" style="width: 18rem; margin: 1rem;" >
        <div class="card-body">
        <h6>You're too poor to buy this!</h6>
        <img class="card-img-top" src="assets/img/missigno.png" alt="Eternamax img">
        <div class="card-body">
        <h6>Go earn coins.</h6>
        <a href="https://bulbapedia.bulbagarden.net/wiki/MissingNo." target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a>
        <h5 class="card-title">missigno</h5>
        </div>
    </div>
</div>
</div>