/* 
.card{
    float:initial; 
    width:25%;
    height:40px;
}

<<<<<<< HEAD
.card {
    background-color: aqua;
}
=======
.sprite{
    height: 20px;
    width: 20px;
} 

.container {
    display: grid;
    grid-template-areas: "header header" "side content";
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-column: 5px;
}
*/
>>>>>>> parent of ad81371 (Merge branch 'main' into alain)
