<p>Welcome to the {{title}}!</p>

<!--Maybe make a dropdown? Implement functionality-->
<button (click)>Sort by Rarity</button>
<button (click)>Sort by Name</button>
<button (click)>Sort by ID</button>

<h2>Pokemon Cards go here</h2>
<p>Menu to navigate to user collection would probably be on the main Account page & upon the mouse-click event, it populates the card collect component</p>


<h2>Card collection</h2>

<div >
    <div class="card">
        <img id="picture0"  src ={{}}/>
        <div class="container">
            <p class = "Id"><b>ID</b></p>
            <p class = "name">NAME</p>
            <p></p>
          </div>
    </div>
</div>